/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

@font-face1 {
    src: url("Images/Neuton-Extrabold.ttf");
}

.Buttons_Big
{
    -fx-background-color: 
        rgba(255,255,255,.0);
    -fx-background-insets: 2,2,2,2;
    -fx-background-radius: 50;
    -fx-padding: 4 20 4 20;
    -fx-font-family: 'Neuton';
    -fx-font-size: 20px;
    -fx-text-fill: rgb(255,255,255);
    -fx-border-color: rgb(255,255,255);
    -fx-border-width: 3;
    -fx-border-radius: 50;
}
.Buttons_Small
{
    -fx-background-color: 
        #000000,
        linear-gradient(rgb(12,138,184),rgb(12,138,184));
    -fx-background-insets: 2,2,2,2;
    -fx-background-radius: 50;
    -fx-padding: 2 10 2 10;
    -fx-text-fill: rgb(255,255,255);
    -fx-font-family: 'Neuton';
    -fx-font-size: 16px;
    -fx-border-color: rgb(191, 191, 191);
    -fx-border-width: 3;
    -fx-border-radius: 50;
}
.Buttons_Company
{
    -fx-background-color: 
        #000000,
        linear-gradient(#40a8ed, #0a5787),
        linear-gradient(#40a8ed, #0a5787),
        linear-gradient(#40a8ed, #0a5787);
    -fx-background-insets: 5,5,5,5;
    -fx-background-radius: 50;
    -fx-padding: 4 20 4 20;
    -fx-text-fill: #dbdbdb;
    -fx-font-family: 'Neuton';
    -fx-font-size: 35px;
    -fx-border-color: #494b4d;
    -fx-border-width: 3;
    -fx-border-radius: 50;
}
.Labels_big
{
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
    -fx-font-family: 'Neuton';
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-alignment: center ;
    -fx-background-color: rgba(128,128,128,0);
    -fx-padding: 0 ;
    -fx-text-fill: rgb(255,255,255);
}
.Labels_small
{
    -fx-font-size: 14px;
    -fx-text-fill: rgb(255,255,255);
    -fx-background-radius: 10;
    -fx-background-insets: -3;
    -fx-font-weight: bolder;
    -fx-font-family: 'Neuton';
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-alignment: center ;
    -fx-background-color: rgba(3,91,115,0.6);
    -fx-padding: 0 ;
}
.Text_Field 
{
    -fx-background-color: 
        rgb(255,255,255);
    -fx-background-radius: 50;
    -fx-padding: 4 20 4 20;
    -fx-font-family: 'Neuton';
    -fx-text-fill: rgb(106, 112, 122);
    -fx-font-size: 16px;
}
.Login_root
{
    -fx-background-image: url("Images/Login_background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-background-size: cover, auto;
}
.table-view 
{
    -fx-base: rgb(3,91,115);
    -fx-control-inner-background: rgb(3,91,115);
    -fx-background-color: rgb(7, 139, 188);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background 
{
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler 
{
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
}

.table-view .column-header .label 
{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-family: 'Neuton';
    
}

.table-view:focused .table-row-cell:filled:focused:selected 
{
    -fx-background-color: -fx-focus-color;
}